*.mp4
*.png
m100_28_7.jpg
m100_140_11.jpg
hardware/.DS_Store
.DS_Store
hardware/photo_dir/
hardware/results/
hardware/old_m100_results/
__pycache__
hardware/__pycache__/
photo_dir*
results_*
api_key.py